<! DOCTYPE html>
<html>
	<body>
	
	<form action = "http://cs358.cis.valpo.edu:5000/new-advisors-submission/{{ID}}" method = "post">
	  
  	{% for i in range(NUM_ADVISORS) %}
			
    <!-- Field type: "short" id: "618671397" -->
    <fieldset>
        <legend for="618671397">Advisor's Name </legend>
        <div class="form-group">
            <input id="207141534" type="text" name="name{{i}}" class="form-control" >
        </div>
    </fieldset>
    
    <fieldset>
        <legend for="618671398">Advisor's Phone Number </legend>
        <div class="form-group">
            <input id="207141535" type="text" name="phone{{i}}" class="form-control" >
        </div>
    </fieldset>
    
    <fieldset>
        <legend for="618671397">Advisor's Email </legend>
        <div class="form-group">
            <input id="207141534" type="text" name="email{{i}}" class="form-control" >
        </div>
    </fieldset>
    
    
    {% endfor %}
    
        	
    	<input class="btn btn-primary" name = "submit_button" type="submit" value="Submit">
	</body>
</html>

