<! DOCTYPE html>
<html>

	<head>
		<script type="text/javascript" src="/static/js/officer_advisor_fields.js"> </script>
		<title>Advisor Change Form</title>
		<link rel="stylesheet" href="/static/css/styles.css">
	</head>
	
	<body>
	
	<div id="header">
		<p>Advisor Change Form</p>
	</div>
	
	<form action = "/new-advisors-submission/{{ID}}" method = "post">
	  
    <input id="num_members" name="num_members" class="form-control" value="{{ADV_LIST|length}}" type="hidden"> </input>

    
    <div id="holder">
		{% for i in range(ADV_LIST|length) %}
		<fieldset id="member_form" style="position:relative">
			

		    <label>Advisor's Name</label>
		    <input id="name" type="text" name="adv_name{{i}}" class="form-control" value="{{ADV_LIST[i][0]}}">
		    
		    <br>
		    <label>Advisor's Phone Number</label>
	        <input id="phone" type="text" name="adv_phone{{i}}" class="form-control" value="{{ADV_LIST[i][1]}}">
			
			<br>
		    <label>Advisor's Email</label>
	        <input id="email" type="text" name="adv_email{{i}}" class="form-control" value="{{ADV_LIST[i][2]}}">
			{% if i == 0 %}
			    <button style="display: none"
			    		onclick="removeFieldset(this)"  type="button">
			{% else %}
				<button style="position: absolute;right:10px;top:-5px;outline:5px solid #fff"
			    		onclick="removeFieldset(this)" type="button">
			
	        {% endif %}
	        
		</fieldset>
		{% endfor %}
		
		{% if ADV_LIST|length == 0 %}
		<fieldset id="member_form" style="position:relative">
			
			<label>Advisor's Name</label>
		    <input id="name" type="text" name="adv_name0" class="form-control">
		    
		    <br>
		    <label>Advisor's Phone Number</label>
	        <input id="phone" type="text" name="adv_phone0" class="form-control">
			
			<br>
		    <label>Advisor's Email</label>
	        <input id="email" type="text" name="adv_email0" class="form-control">
			<button style="display: none"
			    	onclick="removeFieldset(this)"  type="button">
			    	
		</fieldset>
		{% endif %}
		
    </div>
    <input onclick="addMemberFieldset(this)" type="button" name="add_button" id="{{ADV_LIST|length-1}}" value="Add member">	
    <input class="btn btn-primary" name = "submit_button" type="submit" value="Submit">
	</body>
</html>

