<! DOCTYPE html>
<html>

	<head>
		<script type="text/javascript" src="/static/js/officer_advisor_fields.js"> </script>
	</head>
	
	<body>
	
	<form action = "http://cs358.cis.valpo.edu:5000/new-advisors-submission/{{ID}}" method = "post">
	  
  	<fieldset>
        <legend for="20712345">How many advisors are in your organization?</legend>
        <div class="form-group">
            <input id="20712345" type="text" name="num_advisors" class="form-control" oninput="dynamicAdvisors(this.value)">
        </div>
    </fieldset>
    
    			
    <fieldset id="advisor_form">
        <legend for="618671397">Advisor's Name</legend>
        <div class="form-group">
            <input id="207141534" type="text" name="name0" class="form-control" >
        </div>

        <legend for="618671398">Advisor's Phone Number</legend>
        <div class="form-group">
            <input id="207141535" type="text" name="adv_phone0" class="form-control" >
        </div>

        <legend for="618671397">Advisor's Email</legend>
        <div class="form-group">
            <input id="207141534" type="text" name="adv_email0" class="form-control" >
        </div>

    </fieldset>
    
        	
    	<input class="btn btn-primary" name = "submit_button" type="submit" value="Submit">
	</body>
</html>

