<!DOCTYPE html>

<html>
<head>
<title>Valpo Student Organizations</title>
<link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
	<div id="header">
	<p>Student Organizations Homepage</p>
	</div>
		<img src="/static/20170504 JLH Campus Scenes-018.jpg" alt="Christopher Center" style="float:right;width:1000px;height:570px;">
	<div>
	<p><a href="/orgs">Check the current organizations.</a></p>
	<p><a href="/archives">Check the archives.</a></p>
	<p><a href="/new-rerec">Click here to fill out the re-rec form.</a></p>
	<p><a href="/new-rec">Click here to fill out the rec form.</a></p>
	<p><a href="/off-adv-change-prompt">Click here to change officer or advisor information.</a></p>
	{% if LOGIN %}
	<p><a href="/orgs-approval">Click here to view pending organizations.</a></p>
	<p><a href="/csv-download">Click here to download a csv file of current org info.</a></p>
	<p><a href="/deadline-update">Click here to change the deadline.</a></p>
	<p><a href="/logout">Click here to log out.</a></p>
	{% else %}
	<p><a href="/login">Click here to login as senate.</a></p>
	{% endif %}
	<p>Deadline to fill out recognition forms: {{DEAD[0][0].strftime("%m/%d/%Y, %I:%M %p")}}</p>
	
</body>
<footer id="footer">
	<div id="footer-inner">
	<p>&copy; Valparaiso University 2019, Valparaiso, IN 36383-6493, 219.464.5000 &#124; <a href="https://www.valpo.edu/copyright/" target="_blank">Privacy Policy</a></p>
		<div class="clr"></div>
	</div>
</footer>
</html>
