<! DOCTYPE html>
<html>

	<head>
		<script type="text/javascript" src="/static/js/officer_advisor_fields.js"> </script>
		<title>Officer Change Form</title>
		<link rel="stylesheet" href="/static/css/styles.css">
	</head>
	
	<body>
	
	<div id="header">
		<p>Officer Change Form</p>
	</div>
	
	<form action = "/new-officers-submission/{{ID}}" method = "post">
	  
    <input id="num_members" name="num_members" class="form-control" value="{{OFF_LIST|length}}" type="hidden"> </input>

    
    <div id="holder">
		{% for i in range(OFF_LIST|length) %}
		<fieldset id="member_form" style="position:relative">
			
			
			<br>
		    <label>Officer's Name</label>
		    <input id="name" type="text" name="off_name{{i}}" class="form-control" value="{{OFF_LIST[i][0]}}">
		    
		    <br>
		    <label>Officer's Phone Number</label>
	        <input id="phone" type="text" name="off_phone{{i}}" class="form-control" value="{{OFF_LIST[i][1]}}">
			
			<br>
		    <label>Officer's Email</label>
	        <input id="email" type="text" name="off_email{{i}}" class="form-control" value="{{OFF_LIST[i][2]}}">

			<br>
		    <label>Officer's Position</label>
	        <input id="pos" type="text" name="off_pos{{i}}" class="form-control" value="{{OFF_LIST[i][3]}}">
	        <button style="position: absolute;right:10px;top:-5px;outline:5px solid #fff"
	        		onclick="removeFieldset(this)" type="button">
		</fieldset>
		{% endfor %}
		<button onclick="addMemberFieldset(this)" type="button" name="add_button" id="{{OFF_LIST|length-1}}" value="Add member">
    </div>
        	
    	<input class="btn btn-primary" name = "submit_button" type="submit" value="Submit">
	</body>
</html>

