    <!-- Field type: "short" id: "618671397" -->
    <fieldset>
        <legend for="618671397">Officer's Name </legend>
        <div class="form-group">
            <input id="207141534" type="text" name="name" class="form-control" >
        </div>
    </fieldset>
    
    <fieldset>
        <legend for="618671398">Officer's Phone Number </legend>
        <div class="form-group">
            <input id="207141535" type="text" name="phone" class="form-control" >
        </div>
    </fieldset>
    
    <fieldset>
        <legend for="618671397">Officer's Email </legend>
        <div class="form-group">
            <input id="207141534" type="text" name="email" class="form-control" >
        </div>
    </fieldset>
    
    
    <!-- Field type: "short" id: "1898475776" -->
    <fieldset>
        <legend for="1898475776">Officer's Position</legend>
        <div class="form-group">
            <input id="1336707939" type="text" name="position" class="form-control" >
        </div>
    </fieldset>
