<! DOCTYPE html>
<html>
	<body>
	
	<form action = "http://cs358.cis.valpo.edu:5000/new-officers-submission/{{ID}}" method = "post">
	  
  	{% for i in range(NUM_OFFICERS) %}
			
    <!-- Field type: "short" id: "618671397" -->
    <fieldset>
        <legend for="618671397">Officer's Name {{i+1}}</legend>
        <div class="form-group">
            <input id="207141534" type="text" name="name{{i}}" class="form-control" >
        </div>
    </fieldset>
    
    <fieldset>
        <legend for="618671398">Officer's Phone Number {{i+1}}</legend>
        <div class="form-group">
            <input id="207141535" type="text" name="phone{{i}}" class="form-control" >
        </div>
    </fieldset>
    
    <fieldset>
        <legend for="618671397">Officer's Email {{i+1}}</legend>
        <div class="form-group">
            <input id="207141534" type="text" name="email{{i}}" class="form-control" >
        </div>
    </fieldset>
    
    
    <!-- Field type: "short" id: "1898475776" -->
    <fieldset>
        <legend for="1898475776">Officer's Position {{i+1}}</legend>
        <div class="form-group">
            <input id="1336707939" type="text" name="position{{i}}" class="form-control" >
        </div>
    </fieldset>
    
    {% endfor %}
    
    <fieldset>
    <legend for="2031252229">How many advisors are in your organization?</legend>
    <div class="form-group">
        <input id="74392383" type="text" name="num_advisors" class="form-control" >
    </div>
    </fieldset>
    
        	
    	<input class="btn btn-primary" name = "submit_button" type="submit" value="Submit">
	</body>
</html>

