<! DOCTYPE html>
<html>

	<head>
		<script type="text/javascript" src="/static/js/officer_advisor_fields.js"> </script>
	</head>
	
	<body>
	
	<form action = "/new-officers-submission/{{ID}}" method = "post">
	  
    <input id="num_officers" name="num_officers" class="form-control" value="{{OFF_LIST|length}}"> </input>

    
    <div id="holder">
		{% for i in range(OFF_LIST|length) %}
		<fieldset id="officer_form" style="position:relative">
			
			
			<br>
		    <label>Officer's Name</label>
		    <input id="name" type="text" name="off_name{{i}}" class="form-control" value="{{OFF_LIST[i][0]}}">
		    
		    <br>
		    <label>Officer's Phone Number</label>
	        <input id="phone" type="text" name="off_phone{{i}}" class="form-control" value="{{OFF_LIST[i][1]}}">
			
			<br>
		    <label>Officer's Email</label>
	        <input id="email" type="text" name="off_email{{i}}" class="form-control" value="{{OFF_LIST[i][2]}}">

			<br>
		    <label>Officer's Position</label>
	        <input id="pos" type="text" name="off_pos{{i}}" class="form-control" value="{{OFF_LIST[i][3]}}">
	        <button style="position: absolute;right:10px;top:-5px;outline:5px solid #fff"
	        		onclick="removeFieldset(this)" type="button">
		</fieldset>
		{% endfor %}
		<button onclick="addOfficerFieldset(this)" type="button" name="add_button" id="{{OFF_LIST|length-1}}" value="Add officer">
    </div>
        	
    	<input class="btn btn-primary" name = "submit_button" type="submit" value="Submit">
	</body>
</html>

