<! DOCTYPE html>
<html>
	<head>
		<title>Re-Rec Form</title>
		<link rel="stylesheet" href="/static/css/styles.css">
	</head>
	
	<body>
	<div id="header">
		<p>Re-Rec Form</p>
	</div>
	
		<form action = "/new-rerec" method = "post">
		<fieldset>
			<legend for="687977312">Select an organization.</legend>
			<select name="org">
			{% for i in range(ORGS|length) %}
			<option value={{IDS[i]}}> {{ORGS[i]}}</option>
			{% endfor %}
		  	</select>
    	</fieldset>
    	
    	<input class="btn btn-primary" name = "submit_button" type="submit" value="Submit">
	</body>
</html>


