<! DOCTYPE html>
<html>
	<head>
	<title>{{NAME}}</title>
		<link rel="stylesheet" href="/static/css/styles.css">
	</head>
	<body>
		<div id="header">
			<p>{{NAME}}</p>
		</div>
		
		<div id="body">
			<p>Name: {{ NAME }}</p>
			<p>Acronym: {{ ACR }}</p>
			<p>Description: {{ DESC }}</p>
			<!currently broken and under construction>
			<p>Email: <a href="mailto:{{EMAIL}}" target="_top">{{EMAIL}}</a></p>
		</div>
	</body>
	
	<footer id="footer">
		<div id="footer">
			<p>&copy; Valparaiso University 2019, Valparaiso, IN 36383-6493, 219.464.5000 &#124; <a href="https://www.valpo.edu/copyright/" target="_blank">Privacy Policy</a></p>
		<div class="clr"></div>
		</div>
	</footer>
</html>
