<! DOCTYPE html>
<html>
	<head>
	<title>{{NAME}}</title>
		<link rel="stylesheet" href="/static/css/styles.css">
		<style> th{ text-align: left; } </style>
		<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

</style>
	</head>
	<body>
		<div id="header">
			<p>{{NAME}}</p>
		</div>
		
		<div id="links">
			<p>
				<a href="/home">Home</a>
				<a href="/orgs">List of Orgs</a>
			</p>
		</div>
		
		<div id="body">
			<p>Name: {{ NAME }}</p>
			<p>Acronym: {{ ACR }}</p>
			<p>Email: {{EMAIL}}</p>
            <p>Description: {{ DESC }}</p>
			<p>Organization Level: {{ TIER }}</p>
			<p>Total Members: {{ MEMBERS }}
			<br>Attending Members: {{ ATT_MEMBERS }} </p>
			<br><a href='/return-files/{{ID}}'>Constitution Download</a></br>
		</div>
		
		<h2> Officers </h2>
		<table style="width:50%">
		  <tr>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Position</th>
		  </tr>
		  {% for i in range(OFF_LIST|length) %}
		  <tr>
		    <td>{{ OFF_LIST[i][0] }}</td>
		    <td>{{ OFF_LIST[i][2] }}</td>
		    <td>{{ OFF_LIST[i][1] }}</td>
		    <td>{{ OFF_LIST[i][3] }}</td>
		  </tr>
		  {% endfor %}
		</table>
		
		<h2> Advisors </h2>
		<table style="width:50%">
		  <tr>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
		  </tr>
		  {% for i in range(ADV_LIST|length) %}
		  <tr>
		    <td>{{ ADV_LIST[i][0] }}</td>
		    <td>{{ ADV_LIST[i][2] }}</td>
		    <td>{{ ADV_LIST[i][1] }}</td>
		  </tr>
		  {% endfor %}
		</table>
		
		
	</body>
	
	<footer id="footer">
		<div id="footer">
			<p>&copy; Valparaiso University 2019, Valparaiso, IN 36383-6493, 219.464.5000 &#124; <a href="https://www.valpo.edu/copyright/" target="_blank">Privacy Policy</a></p>
		<div class="clr"></div>
		</div>
	</footer>
</html>
