<! DOCTYPE html>
<html>
	<head>
		<title>Re-Rec Form</title>
		<link rel="stylesheet" href="/static/css/styles.css">
		<script type="text/javascript" src="/static/js/code_verification.js"> </script>
	</head>
	
	<body>
	<div id="header">
		<p>Re-Rec Form</p>
	</div>
	
		<form action = "/new-rerec" method = "post">
		<fieldset>
			Emails will be sent to the organization email on file with Student Senate.<br>
			<legend for="687977312">Select your organization and click 'Submit' to recieve an email with a link to the re-rec form.</legend>
			<select name="org">
			{% for i in range(ORGS|length) %}
			<option value={{IDS[i]}}> {{ORGS[i]}}</option>
			{% endfor %}
		  	</select>
    	</fieldset>
    	<input class="btn btn-primary" name = "submit_button" type="submit" value="Submit">
	</body>
</html>


