<! DOCTYPE html>
<html>
<head>
	<title>Valpo Student Organizations</title>
	<link rel="stylesheet" href="/static/css/styles.css">
	<script type="text/javascript" src="/static/js/table_sort.js"> </script>

	<style> th{ text-align: left; } </style>
</head>
<body>
	<div id="header">
		<p>Valpo Student Organizations</p>
		<a href="/home" target="_blank">Home</a>
	</div>
	
	<form action = "/orgs-approval/" method = "POST">
	<div>
		<table style="width:100%" id="sort_table">
		  <tr>
		    <th onclick="sortTable(0)">Name of Organization</th>
		    <th onclick="sortTable(1)">Acronym</th>
		    <th onclick="sortTable(2)">Contact Email</th>
		    <th onclick="sortTable(3)">Tier</th> 
		    <th onclick="sortTable(3)">Tier Request</th>
		    <th onclick="sortTable(4)">Request Date</th>
		    <th onclick="sortTable(5)">Approval Status</th> 
		    
		  </tr>
		 {% for i in range(NAMES|length) %}
		  <tr>
		    <td><a href="/orgs/{{IDS[i]}}">{{ NAMES[i] }}</a></td>
		    <td>{{ ACRS[i] }}</td>
		    <td>{{EMAILS[i]}}</td>
		    <td>{{TIERS[i]}}</td>
		    <td>{{TIER_REQS[i]}}</td>
		    <td {% if DATES[i] > DEAD[0][0] %} style="color:red" {% endif %}>{{DATES[i].strftime("%m/%d/%Y, %I:%M %p")}}</td>
		    <td><select name="status{{i}}" class="form-control">
		    	<option value="pending"> Pending </option>
		    	<option value="reject"> Deny Org Recognition </option>
		    	<option value="reject_tier"> Reject Tier Request </option>
		    	<option value="accept"> Accept Request(s)  </option>
		    </select>
		    </td>
		    
		    <td><input id="org_ID" name="org_ID{{i}}" class="form-control" value="{{IDS[i]}}" type="hidden"> </input></td>
		    
		  </tr>
		  {% endfor %}
		</table>
	</div>
	<input class="btn btn-primary" name = "submit_button" type="submit" value="Submit">
	</form>
</body>

<footer id="footer">
	<div id="footer">
		<p>&copy; Valparaiso University 2019, Valparaiso, IN 36383-6493, 219.464.5000 &#124; <a href="https://www.valpo.edu/copyright/" target="_blank">Privacy Policy</a></p>
	<div class="clr"></div>
	</div>
</footer>
</html>
